.hero {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: space-around;

    .img-cont {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        z-index: 10 !important;
        // overflow-y: hidden !important;
        margin-right: 4em;

        img {
            position: absolute;
            width: 100%;

            &.bird {
                width: 10vw;
                left: 50%;
                top: 1em;
                rotate: -23deg;
                transform: rotateY(180deg);
                z-index: -1 !important;
            }

            &.horse {
                transform: rotateY(180deg);
                width: 50vw;
                left: -4em;
                top: 3em;
            }
        }

    }

    .hero-txt {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-left: 3em;
        width: 90vw;
        position: relative;
        padding-block: 2em;
        margin-top: 2em;
        font-size: 1.6em;

        h1 {
            font-family: var(--title-ff);
        }

        p {
            width: 80%;
        }
    }

    .cta-cont {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        gap: 10px;

        .ctas {
            display: flex;
            gap: 1em;
            h3 {
                font-size: 14px;
            }
        }
    }
}